@{
    ViewData["Title"] = "Results Page";
}

<div class="text-center">
    <h1 style="font-family: 'Courier', sans-serif;">Database transformation success!!.</h1>
</div>

<div>
    <p><br /></p>
</div>

<div class="image-container">
    <img style="border-radius:10px;" src="\images\success.png" alt="Database System Illustration">
</div>

<div>
    <p><br /></p>
</div>

<div>
    <h5 style="font-family: 'Courier', sans-serif;">Please go back to previous page to perform transformation again.</h5>
</div>
